<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
       <a href="http://127.0.0.1:8000/product/" ><button> View Products </button></a>
       <a href="http://127.0.0.1:8000/product/add/"><button> Add Products </button></a>
       <a href="http://127.0.0.1:8000/bill/add/"><button> Bill Products </button></a>
</head>
<body>
   <div>
       <p style="align:center;font-size:40px;">Home Page </p><br>
       <p>Application is working Successfully!!!!...</p>
   </div>
</body>
</html>